body{
    background-color: rgb(75, 89, 128);
    text-align: center;
}

#bodyDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.computerSection{
   text-align: center;
   display: flex;
   flex-direction: column;
   border-left: solid;
   border-color: black;
   border-width: 2px;
   padding: 10px;
   flex-grow: 1;
}

.userSection{
    text-align: center;
    display: flex;
   flex-direction: column;
   border-right: solid;
   border-color: black;
   border-width: 2px;
   padding: 0px 100px;
   flex-grow: 1;
}
.headerDiv{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 gap: 10px;

}

.headerSubDiv{
      transition: 0.7s;
      border-radius: 50%;
      max-width: 100px;
     max-height: 100px;
     margin: auto;
}

.userAddOn{
 border-width: 3px;
 border: solid;
 border-color: aqua;
 border-radius: 50%;
 height: 100% ;
 width: 100%;
 
}


.computerImg{
    border: solid;
    border-width: 3px;
    border-color: brown;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


.onCallBuildWinnerDeclaration{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.zoomIn{
    scale: 1.2;
    box-shadow: 0 0 10px;

}

.divForButtons{
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
}

#alternativeBodyDiv {
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.9);
color: aqua;
}

.scoreDiv {
    display: flex;
    gap: 20px;
}

#finalSubmission{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.headerTitle{
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
}


#roundWinner{
    margin: auto;
    color: aqua;
}
.pageTitle #pageTitleHeader{
    justify-content: center;
    margin: 0px;
    color: white;
}
